html, body {
  display: initial;
  margin: 0;
  padding: 0;
}

.choices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: rgba(255, 255, 255, 0.857);
}

.choice {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  position: relative;
  text-align: center;
}

.choice__content {
  position: relative;
  z-index: 20;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.choice__img {
  position: absolute;
  z-index: -10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 5;
}