html,
body {
  display: initial;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.choices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: rgba(255, 255, 255, 0.857);
}

.choice {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  position: relative;
  text-align: center;
}

.choice__content {
  position: relative;
  z-index: 20;
}


.choice__img {
  position: absolute;
  z-index: -10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 5;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.divider {
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
  margin-bottom: 50px;
  height: 1px;
  background-color: #ececec;
}

button {
  min-width: 120px;
  font-weight: bold;
}

form {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 100%;
  margin-bottom: 20px;
}